{% extends 'base.html'%}
{% block title %}
<title>채팅목록</title>
{% endblock %}
{% block content %}
    <div class="챗 메인">
        <a href="/chat" class="친구1의 태그">
            <div class="친구1 태그">친구 이미지</div>
            <div>채팅방이름</div>
            <div>채팅방 미리 보기</div>
        </a>
    </div>
    
    <div class="챗 메인">
        <a href="/chat" class="친구1의 태그">
            <div class="친구1 태그">친구 이미지</div>
            <div>채팅방이름</div>
            <div>채팅방 미리 보내기</div>
        </a>
    </div>
{% endblock %}