{% extends 'base.html'%}
{% block title %}
<title>친구창</title>
{% endblock %}
{% block content %}


<div class="친구 메인">
    <div class="내상태창">
        <img>내 이미지</img>
        <div>나 등장</div>
        <div>오늘의 날먹은?</div>
    </div>
    <hr>
    <p class="친구수">친구 카운트/ 작게</p>
    <div class="친구리스트">
        <div class="친구1 태그">
            <img class="친구 이미지">친구 이미지</img>
            <div class="친구이름">나 등장</div>
            <div class="친구상태">오늘의 날먹은?</div>
        </div>
    </div>
</div>

{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends</title>
</head>
    <div class="네비 바">옆에 창으로 고정
        <div>쌤은 데비태그
            <ul>
                <li>
                    <a class="active" href="/friends">
                    <img>친구창/올리면 투명도 내려감/ 클릭시 검은색</img>
                    </a>
                </li>
                <li>
                    <a class="active" href="/chats">
                    <img>채팅창</img>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="메인헤더">
        <div>친구</div>
        <img src="" alt="">검색창버튼</img>
        <img src="" alt="">친구추가버튼</img>
    </div>
    <div class="친구 메인">
        <div class="내상태창">
            <img>내 이미지</img>
            <div>나 등장</div>
            <div>오늘의 날먹은?</div>
        </div>
        <hr>
        <p class="친구수">친구 카운트/ 작게</p>
        <div class="친구리스트">
            <div class="친구1 태그">
                <img class="친구 이미지">친구 이미지</img>
                <div class="친구이름">나 등장</div>
                <div class="친구상태">오늘의 날먹은?</div>
            </div>
        </div>
    </div>
</body>
</html> -->